.barber-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.title-barbers-page {
  margin-top: 40px;
}
.barber-name-card {
  padding: 10px;
  margin-top: 20px;
  border-radius: 8px;
  border: 1px solid rgba(128, 128, 128, 0.2);
  background-color: var(--card-bg);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.3s;
}
.barber-name-card:hover {
  opacity: 0.7;
  border: 1px solid rgba(128, 128, 128, 1);
}
